/* $Id: styles.css,v 1.1 2009/01/31 21:28:46 dvessel Exp $ */
/*
** Starter kit for a subthemes based on ninesixty
**
*/



/*
** begin your CSS here
*/
h1#site-name {
  margin-bottom: 0;
}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
  margin-bottom: 1.5em;
}

ul.main-menu,
ul.secondary-menu {
  display: block;
  margin: 0;
  padding: 0;
}

#overallheader {
  background: #62A1C8;
}